<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <queries><package android:name="com.xiaomi.type" /></queries>
    <application>
        <activity android:name=".diagnostics.DiagnosticsActivity" android:exported="false" />
        <service android:name=".diagnostics.DiagnosticsService" android:exported="false"
            android:foregroundServiceType="dataSync" />
        <provider android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.diagnostics.files"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/diagnostic_paths" />
        </provider>
    </application>
</manifest>
